/*
Theme Name: TouchUp Child
Theme URI: http://touchup.mikado-themes.com
Description: A child theme of TouchUp
Author: Mikado Themes
Author URI: http://themeforest.net/user/mikado-themes
Version: 1.0.0
Text Domain: touchup
Template: touchup
*/

.qodef-portfolio-single h2 {
  position: relative;
  margin: 0 0 18px;
  padding-bottom: 22px;
  font-size: 30px;
}

.qodef-portfolio-single h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 2px;
  background-color: currentColor;
}

.qodef-page-title.qodef--has-image::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.qodef-page-title.qodef--has-image .entry-title {
  z-index: 2;
}

.qodef-page-title.qodef--has-image .qodef-breadcrumbs {
  z-index: 2;
}

#qodef-page-footer-bottom-area .qodef-grid-item {
  margin-bottom: 0 !important;
}
